.footer {
  background: rgb(51, 62, 79);
  color: rgb(156, 169, 190);
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 25px;
  bottom: 0;
}

.footer-download img {
  width: 120px;
  display: block;
  margin: 15px 0px;
}

.footer-menu a {
  display: block;
  color: rgb(156, 169, 190);
}

.footer-contact span {
  display: block;
}

.footer-get-in-touch a {
  padding: 8px 12px;
  background-color: #1d2531;
  margin: 0px 3px;
  border-radius: 5px;
  padding-bottom: 9px;
}
