.section-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
  span {
    background: rgba(245, 65, 55, 0.1);
    color: #f44336;
    display: inline-block;
    width: 30px;
    text-align: center;
    border-radius: 30px;
    margin-right: 15px;
    font-weight: 600;
  }
  strong {
    font-family: "Trebuchet MS", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 0;
    font-weight: bold;
    line-height: 26px;

    font-size: 18px;
  }
}

.customer-info {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;

  h1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
    span {
      background: rgba(245, 65, 55, 0.1);
      color: #f44336;
      display: inline-block;
      width: 30px;
      text-align: center;
      border-radius: 30px;
      margin-right: 15px;
      font-weight: 600;
    }
    strong {
      font-family: "Trebuchet MS", sans-serif;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      margin-top: 0;
      font-weight: bold;
      line-height: 26px;

      font-size: 18px;
    }
  }
}

.payment-info {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  min-height: 350px;
  p {
    font-family: "Trebuchet MS", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #01132d;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .accepted-logo {
    font-family: "Trebuchet MS", sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    h5 {
      font-family: "Trebuchet MS", sans-serif;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      margin-top: 0;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }
  }
}
.delivery-info {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  min-height: 350px;
}
.order-info {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  min-height: 350px;
}

.page-section {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: #f1f5f9;
  .form-control {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    font-size: 15px;
    height: 42px;
    padding: 5px 15px;
    background: #fff;
    outline: none;
    width: 100%;
    font-family: "Trebuchet MS", sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1 1 auto;
  }
  .btn {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    width: 100%;
    font-family: "Trebuchet MS", sans-serif;
    display: inline-block;
    border: 2px solid #3749bb;
    padding: 0 20px;
    margin: 0;
    height: 42px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    text-align: center;
    transition: all 300ms linear;
    background: none;
    color: #3749bb;
    flex: 1 1 auto;
  }
}
