// common view slider
.product-carousel {
  .swiper-slide {
    width: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 45px;
    width: 45px;
    margin-top: 0.5px;
    z-index: 10;
    transform: translateY(50%);
    color: var(--primary);
    border-radius: 8px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 25px;
    display: none;
  }
  .swiper-button-next {
    background-image: url(../../assets/image/circled-right.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .swiper-button-prev {
    background-image: url(../../assets/image/circled-left.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
}

//quick view slider style start

.product-images-slider {
  .swiper-slide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 10px;
      border-radius: 5%;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 45px;
    width: 45px;
    z-index: 10;
    transform: translateY(50%);
    color: white;
    background-color: wheat;
    border-radius: 50%;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 50px;
    display: none;
  }
  .swiper-button-next {
    background-image: url(../../public/icons/next-slider.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .swiper-button-prev {
    background-image: url(../../public/icons/back-slider.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
}

.product-images-slider-thumbs {
  .swiper-slide {
    padding: 6px;
    margin-top: 0px;
    margin: 2px;
    opacity: 0.7;
    cursor: pointer;
    border: 1px solid #dddbdb;

    &-thumb-active {
      border-color: #ff0000;
      opacity: 1;
    }
  }

  &-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
