@media (max-width: 575.98px) {
  main {
    margin-top: 150px;
  }
  .top_menu {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .moblie-nav-section .search-box-btn {
    padding: 5px 12px;
  }
  .carousel-indicators li {
    height: 5px;
    width: 5px;
  }

  .carousel-indicators .active {
    background-color: var(--primary);
    width: 15px;
  }
  .shop_brand_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .brand-header .search-box-btn {
    padding: 0px 7px;
    font-size: 19px;
  }

  .search-box {
    height: 40px;
    padding: 0px 6px;
    width: 140px;
  }
  .brand-header-sec-btn {
    margin-left: 5px;
    font-size: 13px;
  }
  .flex-table {
    tr {
      flex-wrap: wrap;
    }
  }
  .footer {
    padding-bottom: 100px;
    display: none;
  }
  .product-price-options {
    flex-wrap: wrap;
    .cash-payment {
      margin-bottom: 10px;
    }
  }
  .card-section {
    .ask-btn {
      margin-top: 10px;
    }
  }
}

/* Tap media responsive  */

@media (min-width: 576px) and (max-width: 767.98px) {
  main {
    margin-top: 150px;
  }

  .header {
    top: -45px;
  }
  .nav-items {
    display: none;
  }

  .top_menu {
    display: none;
  }
  .carousel-indicators li {
    height: 7px;
    width: 7px;
  }

  .carousel-indicators .active {
    background-color: var(--primary);
    width: 20px;
  }
  .shop_brand_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .product-price-options {
    flex-wrap: wrap;
    .cash-payment {
      margin-bottom: 10px;
    }
  }

  .flex-table {
    tr {
      flex-wrap: wrap;
    }
  }
  .card-section {
    .ask-btn {
      margin-top: 10px;
    }
  }
  .footer {
    padding-bottom: 100px;
    display: none;
  }
}

/* laptop responsive media */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 100% !important;
  }
  .navbar-1 .nav-link {
    margin: 0px 6px;
  }
  .top_menu {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .shop_brand_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .card-section {
    .ask-btn {
      margin-top: 10px;
    }
  }
}

/* computer responsive media */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-1 .navbar-nav {
    margin-left: 65px;
  }
  .img-fluid {
    height: 340px;
  }
  .navbar_items {
    display: none;
  }
  .flex-table {
    tr {
      .name {
        border-bottom: 1px solid #ecedef;
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbar-1 .navbar-nav {
    margin-left: 100px;
  }
  .navbar_items {
    display: none;
  }
  .flex-table {
    tr {
      .name {
        border-bottom: 1px solid #ecedef;
      }
    }
  }
}
